.rezerwacja-lotu {
    display: flex;
    background-color: white;
    flex-direction: column;
}

.formularz {
    display: flex;
    flex-direction: row;
    background-color: rgb(245, 245, 245);
    font-size: 18px;
    font-family: arial, sans-serif;
    text-transform: uppercase;
    text-align: left;
    color: rgb(39, 170, 226);
}

.lewo-formularz, .prawo-formularz {
    display: flex;
    flex-direction: column;
    margin: 3%;
}

input, select {
    display: flex;
    background-color: rgb(251, 253, 253);
    text-decoration: none;
    font-size: 22px;
    font-family: arial, sans-serif;
    color: rgb(153, 153, 153);
    padding: 2%;
    margin-bottom: 9%;
    border: 2px solid rgb(217, 236, 252);
    width: 90%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

select {
    width: 95%;
}

.submit {
    background-color: rgb(176, 220, 255);
    border: none;
    margin-top: 10%;
    color: rgb(5, 5, 124);
    padding: 3%;
    text-align: center;
    text-transform: uppercase;
}