.logo { grid-area: logo; }
.menu { grid-area: menu; }
.photo { grid-area: photo; }

.parent-glowna-grid {
    display: grid;
    grid-template-areas:
      'photo photo photo photo'
      'menu menu menu logo';
    grid-gap: 10px;
}
  
.parent-grid > div {
    text-align: center;
    font-size: 30px;
}

.menu {
    display: flex;
    background-color: white;
    flex-direction: column;
    list-style-type: none;
}

.photo {
    width: 100%;
}

h1 {
    color: rgb(245, 245, 245);
    font-family: arial, sans-serif;
    font-size: 40px;
    text-transform: uppercase;
}
